/* Fonts */
@font-face {
    font-family: Montauk-Bold;
    src: url(../fonts/Montauk-Regular/Montauk-Bold.otf);
}
@font-face {
    font-family: Montauk-Italic;
    src: url(../fonts/Montauk-Regular/Montauk-Italic.otf);
}
@font-face {
    font-family: Montauk-Light;
    src: url(../fonts/Montauk-Regular/Montauk-Light.otf);
}
@font-face {
    font-family: Montauk-Regular;
    src: url(../fonts/Montauk-Regular/Montauk-Regular.otf);
}
@font-face {
    font-family: FugazOne;
    src: url(../fonts/Montauk-Regular/Fugaz_One/FugazOne-Regular.ttf);
}

/* End of Fonts */
body{
    background-image: url(../assets/bgtexture.jpg);
}


.firstBanner{
background-image: url(../assets/homeHero.jpg);
height: 500px
}

.backg{
    background-color: white;
    height
}
.maintxt{
    font-size: 40px;
    color: #5F002B;
   font-family: FugazOne;
   padding-top: 3%;
   padding-left: 3%;
}

.notmain{
    font-size: 16px;
    color: #5F002B;
   font-family: FugazOne;
   /* padding-top: ; */
   padding-left: 3%;
}
.homeback{
    background-image: url(../assets/HomeImage.jpg);
    height: 162px;
    width: auto;
}
.picturetwo{
   width: 100%;
   height: 100%;
}