/* Fonts */
@font-face {
    font-family: Montauk-Bold;
    src: url(../fonts/Montauk-Regular/Montauk-Bold.otf);
}
@font-face {
    font-family: Montauk-Italic;
    src: url(../fonts/Montauk-Regular/Montauk-Italic.otf);
}
@font-face {
    font-family: Montauk-Light;
    src: url(../fonts/Montauk-Regular/Montauk-Light.otf);
}
@font-face {
    font-family: Montauk-Regular;
    src: url(../fonts/Montauk-Regular/Montauk-Regular.otf);
}
@font-face {
    font-family: FugazOne;
    src: url(../fonts/Montauk-Regular/Fugaz_One/FugazOne-Regular.ttf);
}

/* End of Fonts */


body{
    background-image: url(../assets/bgtexture.jpg);
}
.pic1{
    background-image: url(../assets/AboutMain.jpg);
    height: 474px;
    width: 600px;
    background-position: center;
}
.whiteb{
background-color: white;
}

.padi{
    padding-top: 3%;
}
.pas{
    padding: 1%;
    text-align: center;
}
.space{
    
        display: flex;
        justify-content: space-evenly;
 
}
.pL{
  padding-left: 1%;
}
.c1{
    display: flex;
    justify-content: end;
    width: 600px;
}
.c2{
    display: flex;
    justify-content: center;
}

.cardh{
    color: #5F002B;
    font-family: FugazOne;
    font-size: 30px;
}
.pd{
    padding-bottom: 2%;
}