/* Fonts */
@font-face {
    font-family: Montauk-Bold;
    src: url(../fonts/Montauk-Regular/Montauk-Bold.otf);
}

@font-face {
    font-family: Montauk-Italic;
    src: url(../fonts/Montauk-Regular/Montauk-Italic.otf);
}

@font-face {
    font-family: Montauk-Light;
    src: url(../fonts/Montauk-Regular/Montauk-Light.otf);
}

@font-face {
    font-family: Montauk-Regular;
    src: url(../fonts/Montauk-Regular/Montauk-Regular.otf);
}

@font-face {
    font-family: FugazOne;
    src: url(../fonts/Montauk-Regular/Fugaz_One/FugazOne-Regular.ttf);
}
*{
    box-sizing: border-box;
}

body{
    background-image: url(../assets/bgtexture.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}
/* End of Fonts */

.firstBanner {
    background-image: url(../assets/homeHero.jpg);
    height: 500px
}

.backg {
    background-color: white;
}

.maintxt {
    font-size: 40px;
    color: #5F002B;
    font-family: FugazOne;
    padding-top: 3%;
    padding-left: 3%;
}

.notmain {
    font-size: 16px;
    color: #5F002B;
    font-family: Montauk-Regular;
    /* padding-top: ; */
    padding-left: 3%;
}

/* .homeback {
    background-image: url(../assets/HomeImage.jpg);
    height: 162px;
    width: 100%;
    object-fit: scale-down;
    padding-left: 0;
    padding-right: 0%;

} */

.pix{
    object-fit: fill;
}


.picturetwo {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.pp {
    padding-left: 1%;
}

.padit {
    padding-top: 6%;
}

@media only screen and (max-width: 991px) {
    .pp {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 2%;
    }

    .firstBanner {
        background-image: url(../assets/homeHero.jpg);
        height: 50%;
        object-fit: cover;
        
    }
}

/* start of Fernando's CSS */


.text{
    color: rgb(95,0,43);
    font-weight: bold;
    font-size: 25px;

}

.liLiner{
    padding: 0%;

}

.list-group-item{
    border-color: #980051;
    height: 100%;
    margin-bottom: 0%;
    padding: 0%;
    padding-top: 4%;
}

.h5text{
    font-family: Montauk-Regular;
    color: #5F002B;
    font-size: 25px;
    padding-bottom: 0%;
}

.h1text{
    background-color: white;
    font-family: FugazOne;
    color: #5F002B;
}

.h4text{
    color: #5F002B;
    font-weight:bold;
    font-size: 30px;
    font-family: FugazOne;
    line-height: 1;
}

.footText{
    font-size: 20px;
    color: #5F002B;
    font-family: Montauk-Regular;
    margin-bottom: 0%;
}

.footTextMove1{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.ptext{
    font-family: Montauk-Regular;
    font-size: 16px;
    color: #5F002B;
    margin-bottom: 0%;
}

.footTextMove2{
    display: flex;
    align-items: end;
    flex-direction: column;
}
/* end of Fernando's CSS */







/* Raudels css start*/

.pic1{
    width: 100%;
    height: 100%;
    object-fit: cover;
     margin: 0;
}
.whiteb{
background-color: white;

}

.padi{
    padding-top: 2%;
}
.pas{
    padding: 1%;
    text-align: center;
}
.space{
    
        display: flex;
        justify-content: space-evenly;
 
}
.pL{
  padding-left: 1%;
}
.c1{
    display: flex;
    justify-content: end;
    width: 600px;
}
.c2{
    display: flex;
    justify-content: center;
}

.cardh{
    color: #5F002B;
    font-family: FugazOne;
    font-size: 30px;
}
.pd{
    padding-bottom: 2%;
}

.story{
    padding-left: 2%;
    padding-top: 4%;
    font-size: 39px;
    font-family: FugazOne;
    color: #5F002B;
}
.storytxt{
    padding-left: 2%;
    color: #5F002B;
    font-size: 13px;
    font-family: Montauk-Regular;
}
.navFont1{
    font-family: FugazOne;
    color: #5F002B;
    text-align: left;
    font-size: 20px;
}
.navColumn{
    display: flex;
    flex-direction: column;
}

.dogpic{
    height: 100%;
    width: 100%;
}

.custompad{
    padding: 0;
}
.custompadpic{
    padding-left: 0;
}

.blacktxt{
    color: #5F002B;
    font-family: Montauk-Regular;
    font-size: 18px;
    line-height: 1;
}
.pbtwo{
    padding-bottom: 300%;
}

.cpr{
    padding-right: 0;
}
.ourt{
    padding-left: -20px;
}
.negm{
margin-left: -.5%;
/* margin-right: -3%; */
}
.padic{
    padding-top: 2%;
}
.t{
    padding-right: 4%;
}
.s{
    
    opacity: 0;
    
}

@media only screen and (max-width: 991px){
    .custompadpic{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 2%;
    }
   .paddinglr{
    padding-left: 0;
    padding-right: 0;
   }
   .padic{
    padding-top: 0;
}
.medicarpadl{
    padding-left: 0;
}
.medicarpadr{
    padding-right: 0;
}
.padii{
    padding-top: 2%;
}
.padit{
    padding-top: 0%;
}
}
@media screen and (max-width: 767px){
    .sevenpadcl{
      padding-left: 0%;
    }
    .sevenpadcr{
      padding-right: 0%;
    }
    .cardh{
        color: #5F002B;
        font-family: FugazOne;
        font-size: 30px;
        text-align: center;
    }

    .blacktxt{
        color: #5F002B;
        font-family: Montauk-Regular;
        font-size: 18px;
        line-height: 1;
        text-align: center;
    }

    .story{
        padding-left: 2%;
        padding-top: 4%;
        font-size: 39px;
        font-family: FugazOne;
        color: #5F002B;
        text-align: center;
    }
    .padii{
        padding-top: 2%;
    }
  }

@media only screen and (max-width: 575px){
    .cardp{
        padding-right: 1%;
        padding-left: 3%;
    }
    .cardpp{
        padding-right: 2%;
        padding-left: 6%;
    }
    .padi{
        padding-top: 5%;
    }

    .hpc{
        text-align: center;
    }
    .hpp{
        padding: 0;
    }
    .cardh{
        color: #5F002B;
        font-family: FugazOne;
        font-size: 30px;
        text-align: center;
    }

    .blacktxt{
        color: #5F002B;
        font-family: Montauk-Regular;
        font-size: 18px;
        line-height: 1;
        text-align: center;
    }

    .story{
        padding-left: 2%;
        padding-top: 4%;
        font-size: 39px;
        font-family: FugazOne;
        color: #5F002B;
        text-align: center;
    }
    .homepad{
        padding-left: 6%;
        padding-right: 4%;

    }
    .padii{
        padding-top: 5%;
    }
    .s{
        padding-right: 103.8%;
        opacity: 0;

    }
}


 /* end of raudels css  */


 
 /* Start Tyler's CSS */

/* Start of NavBar */
.navBarMove{
    display: flex;
    justify-content: end;
}

.navFont{
    font-family: FugazOne;
    font-size: 20px;
    text-align: left;
    color: #5F002B;

}

.navColumn{
    display: flex;
    flex-direction: row;
}

.navBarMoveRight{
    display: flex;
    justify-content: end;
}
/* End of NavBar */

/* Start of Catering Title */
.headFont{
    display: flex;
    justify-content: center;
    font-family: FugazOne;
    color: #5F002B;
    font-size: 50px;
}
.headBox{
    background-color: #FFFFFF;
    width: 100%;
}
/* End of Catering Title */

/* Catering Hero Image */
.cateringHero{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
/* End of Catering Hero Image */

/* Start of Catering Services */
.textCaterHead{
    font-family: FugazOne;
    color: #5F002B;
    font-size: 30px;
}
.textCaterBody{
    color: #5F002B;
    font-family: Montauk-Regular;
    font-size: 15px;
    line-height: 1;
}
.textCaterBox{
    background-color: #FFFFFF;
    padding: 5%;
}
.cateringPicMaine{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* End of Catering Services */

/* Start of 3 image */

.cateringPics{
    width: 100%;
    object-fit: cover;
}

/* End of 3 Image */

/* Start of Footer */

.footText{
    font-size: 20px;
    color: #5F002B;
    font-family: Montauk-Regular;
}

.footTextMove1{
    display: flex;
    align-items: start;
    flex-direction: column;
    
}

.footTextMove2{
    display: flex;
    align-items: end;
    flex-direction: column;
}
/* End of Footer */


/* Page 4 */
.photoCards{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.photoBorder{
    border: 8px #FFFFFF solid;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
/* End of Page 4 */
@media screen and (max-width: 410px) {
    .navColumn{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .nav-item {
        margin: 0 10px;
    }
}

@media screen and (max-width: 767px){
    .footTextMove1{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    
    .footTextMove2{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

/* End of Tyler's CSS */