/* Fonts */
@font-face {
    font-family: Montauk-Bold;
    src: url(../fonts/Montauk-Regular/Montauk-Bold.otf);
}
@font-face {
    font-family: Montauk-Italic;
    src: url(../fonts/Montauk-Regular/Montauk-Italic.otf);
}
@font-face {
    font-family: Montauk-Light;
    src: url(../fonts/Montauk-Regular/Montauk-Light.otf);
}
@font-face {
    font-family: Montauk-Regular;
    src: url(../fonts/Montauk-Regular/Montauk-Regular.otf);
}
@font-face { 
    font-family: FugazOne;
    src: url(../fonts/Montauk-Regular/Fugaz_One/FugazOne-Regular.ttf);
}
/* End of Fonts */

body{
    background-image: url("../assets/bgtexture.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text{
    color: rgb(95,0,43);
    font-weight: bold;
    font-size: 25px;

}
.border{
    
}
.h1text{
    background-color: white;
    font-family: FugazOne;
    color: rgb(95,0,43);


}

.h5text{
    font-family: Montauk-Regular;
    color: rgb(95,0,43);
    font-size: 25px;
}
.h4text{
    color: rgb(95,0,43);
    font-weight:bolder;
    font-size: 30px;
    font-family: FugazOne;
    line-height: 1;
}

.footText{
    font-size: 20px;
    color: #5F002B;
    font-family: Montauk-Regular;
}
.list-group-item{
    border-color: #5F002B;
    height: 100%;
}

.footTextMove1{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.ptext{
    font-family: Montauk-Regular;
    font-size: 16px;
    color: rgb(95,0,43);
}

.footTextMove2{
    display: flex;
    align-items: end;
    flex-direction: column;
}
/* End of Footer */


@media screen and (max-width: 767px){
    .footTextMove1{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    
    .footTextMove2{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}