/* Fonts */
@font-face {
    font-family: Montauk-Bold;
    src: url(../fonts/Montauk-Regular/Montauk-Bold.otf);
}
@font-face {
    font-family: Montauk-Italic;
    src: url(../fonts/Montauk-Regular/Montauk-Italic.otf);
}
@font-face {
    font-family: Montauk-Light;
    src: url(../fonts/Montauk-Regular/Montauk-Light.otf);
}
@font-face {
    font-family: Montauk-Regular;
    src: url(../fonts/Montauk-Regular/Montauk-Regular.otf);
}
@font-face {
    font-family: FugazOne;
    src: url(../fonts/Montauk-Regular/Fugaz_One/FugazOne-Regular.ttf);
}

/* End of Fonts */
*{
    box-sizing: border-box;
}

body{
    background-image: url(../assets/bgtexture.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

/* Start of NavBar */
.navBarMove{
    display: flex;
    justify-content: end;
}

.navFont{
    font-family: FugazOne;
    font-size: 20px;
    text-align: left;
    color: #5F002B;

}

.navColumn{
    display: flex;
    flex-direction: row;
}

/* End of NavBar */

/* Start of Catering Title */
.headFont{
    display: flex;
    justify-content: center;
    font-family: FugazOne;
    color: #5F002B;
    font-size: 50px;
}
.headBox{
    background-color: #FFFFFF;
    width: 100%;
}
/* End of Catering Title */

/* Catering Hero Image */
.cateringHero{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
/* End of Catering Hero Image */

/* Start of Catering Services */
.textHead{
    font-family: FugazOne;
    color: #5F002B;
    font-size: 30px;
}
.textBody{
    color: #5F002B;
    font-family: Montauk-Regular;
    font-size: 20px;
    line-height: 1;
}
.textBox{
    background-color: #FFFFFF;
    padding: 5%;
}
.cateringPicMaine{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* End of Catering Services */

/* Start of 3 image */

.cateringPics{
    width: 100%;
    object-fit: cover;
}

/* End of 3 Image */

/* Start of Footer */

.footText{
    font-size: 20px;
    color: #5F002B;
    font-family: Montauk-Regular;
}

.footTextMove1{
    display: flex;
    align-items: start;
    flex-direction: column;
}


.footTextMove2{
    display: flex;
    align-items: end;
    flex-direction: column;
}
/* End of Footer */


/* Page 4 */
.photoCards{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.photoBorder{
    border: 5px white solid;
}
/* End of Page 4 */
@media screen and (max-width: 410px) {
    .navColumn{
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 767px){
    .footTextMove1{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    
    .footTextMove2{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}